:root {
	--theme-color: #FFC011;
	--selectbox-color: #E8E4E4;
	--ranking-first-color: #FFF15B;
	--ranking-second-color: #D9D9D9;
	--ranking-third-color: #DD6438;
	box-sizing: border-box;
	width: 411px;
	margin: 0 auto;
}
