:root {
	--theme-color: #FFC011;
	--selectbox-color: #E8E4E4;
	--ranking-first-color: #FFF15B;
	--ranking-second-color: #D9D9D9;
	--ranking-third-color: #DD6438;
	--color-light-gray: #D4D4D4; 
	--color-pink: #E0548E;
	box-sizing: border-box;
	width: 430px;
	margin: 0 auto;
}
